* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  background: transparent;
  height: 60px;
  transition: all 0.3s;


}

header .headerbg{
  position: absolute;
  background: transparent;
  background-color: black;
  width: 100%;
  display: flex;
  height: 60px;
  top: 0;
  left: 0;
  opacity: 20%;
  z-index: 2000;
}

.headerbg.scroll{
  opacity: 0%;
  z-index: 2000;
}

header.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  background: white;
  height: 60px;
transition: all 0.3s;





}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 10000;

}

header .logo.scroll {
  color: #2b1055;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;

}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

.ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

.ul li a:hover,
.ul li a.active {
  background: #fff;
  color: #2b1055;
}



.ul li a.scroll{
  text-decoration: none;
  padding: 6px 15px;
  color: #2b1055;
  border-radius: 20px;
}

.ul li a:hover.scroll,
.ul li a.active.scroll {
  background: #2b1055;
  color: #fff;
}

section {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

#text {
  position: absolute;
  right: 0px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

span {
  color: #2b1055;
}

section img#mountains_front {
  z-index: 10;
}

#btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  display: inline-block;
  z-index: 9;
  transform: translateY(100px);
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec::before {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, orange, orange);
}

.sec2::before {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, orange, orange);
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: lightblue;
}

.sec p {
  font-size: 1em;
  color: lightgrey;
  text-align: justify;
}

.sec2 {
  position: relative;
  padding: 100px;
  background: #fff;
}

.sec2 h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #1c0522;
  padding-left: 55%;
}

.sec2 p {
  font-size: 1em;
  color: 1c0522;
  opacity: 99%;
  text-align: justify;
  padding-left: 55%;
}

.sec2 #sec2bg {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 100px;
}
